

html, body {
    height: 100%;
    width: 100%;
    background-color: #cae3c9;
  }
  .fiveTips {
   margin-left: 15%;
    margin-right: 15%;
  }
  
  .navButtons {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .cafe, .spotify, .studyingTips, .ytVids {
    background-color: 	#aaccd8;
    border: 	#aaccd8;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #6791a5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
  }
  
  h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
  }
  
  .head1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 33px;
    background-color: 	#6791a5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .head2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 33px;
    background-color:	#6791a5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 5.25%;
    margin-right: 5.25%;
  }
  
  .head3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 33px;
    background-color: 	#6791a5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1em;
  }
  
  .head4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 33px;
    background-color: 	#6791a5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    margin-bottom:0.25em;
  }
  
  h3{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  
  p{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
  }
  
  /* a.link1 {
    color: #3c7c9a ;
    text-decoration: none;
  } */
  
  .link1 { 
   text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link2 {
  text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link3 {
    text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link4 {
    text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link5 {
    text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link6 {
    text-decoration: none; 
   color:  #1a698e; 
  }
  
  .link7 {
    text-decoration: none; 
   color:  #1a698e; 
  }
  .rowCafe {
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .cafeDescription{
    margin-left: 5.25%;
    margin-right: 5.25%;
  }
  
  .click {
    margin-top:0.25em;
    margin-bottom: 0.75em;
    font-size: 20px;
  }
  
  .hover {
    margin-top:0.25em;
    margin-bottom: 0.25em;
  }
  
  .playlistDesc {
    margin-top:0.25em;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  
  .music {
    margin-bottom: 1em;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top:0.25em;
  }
  
  .tips {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
  }
  
  .sites {
    margin-bottom:0.5em;
    margin-top: 0.5em;
  }
  
  .ar {
    margin-bottom: 1em;
  }
  
  .sO{
     margin-bottom: 1em;
     font-height:0.7cm;
  }
  
  .pQ{
     margin-bottom: 1em;
    font-height:0.7cm;
  }
  
  .rewrite {
    margin-bottom: 2em;
    font-height:0.7cm;
  }
  
  .eTCTS {
    margin-bottom:1em;
    font-height:0.7cm;
  }
  
  .iMMC, .lifeAt, .vCottage {
   background-color: 	#aaccd8;
    border: 	#aaccd8;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #6791a5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
  }
  
  .activeRecall {
    margin-bottom: 0.25em;
  }
  
  .schedule {
    margin-bottom: 0.25em;
  }
  
  .content {
    margin-bottom: 0.25em;
  }
  
  .practice {
    margin-bottom: 0.25em;
  }
  
  .different {
    margin-bottom: 0.25em;
  }
  
  .buttonSites {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }